.filter-options{
    column-count: 2;
}

.filter-options-item{
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
}

.filter-content .item{
    display: inline-block;
}

.filter-content .item a{

    display: block;
    color: #000;
    text-decoration: none;
}

.filter-content .item input[type="checkbox"]{
    display: none;
}


.filter-options-item:first-child .items{
    display: block;
}
