
.filter-options{
    column-count: 2;
}

.filter-options-item{
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
}

.filter-content .item{
    display: inline-block;
}

.filter-content .item a{

    display: block;
    color: #000;
    text-decoration: none;
}

/*.filter-content .item input[type="checkbox"]{*/
    /*display: none;*/
/*}*/


.filter-options-item:first-child .items{
    display: block;
}


.ui-slider-range {
    position: absolute;
    height: 100%;
    background-color: #ff6464;
}

.ui-slider-horizontal{
    height: 5px;
}

.filter-options-item>div:first-child{
    margin-bottom: 15px;
}

#price-from,
#price-to {
    border: none;
}

.price-from-for{
    float: left;
    border: 1px solid #ddd;
    margin-top: 5px;
    color: #656565;
}

.price-from-to{
    float: right;
    margin-right: -15px;
    border: 1px solid #ddd;
    margin-top: 5px;
    color: #656565;
}

.price-from-for input:focus,
.price-from-to input:focus{
    outline: none;
    box-shadow: none;
}

#price-from, #price-to{
    outline: none; 
    color: #656565;
}


.range-attribute-filter .range input{
    max-width: 60px;
}

.fil-title{
    float: left;
    margin-top: -10px;
    position: relative;
}

.filter-options-item:first-child .fil-title .icon-details{
    display: none;
}

.fil-slider{
    float: right;
    width: 75%;

}

.icon-details{
    display: inline-block;
    margin-left: 10px;
    background: #fd6463;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}