<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');

$collection = $productCollection->create()
    ->addAttributeToSelect('*')
    ->load();

foreach ($collection as $product){
    ?>
    <div class="product">
        <p><strong>Name :</strong><?php echo  $product->getName(); ?></p>
        <p><strong>Price :</strong><?php echo  $product->getPrice(); ?></p>
        <img src="<?php echo $this->getBaseUrl();?>pub/media/catalog/product<?php echo $product->getImage();?>" width="240">
    </div>
    <?php
}

?>